.box {
    margin: auto;
    width: 30%;
    border: 3px solid green;
    padding: 10px;
    display:flex;
}
.container{
    background-color: white;
    padding: 1em;
    width: 40%;
    margin: 0 auto;
    border: 5px solid #E18728;
}
.padding10{
    padding: 10px;
}
.margin10{
    margin: 10px;
}
.marginleft{
    margin-left: 10px;
}
.texbox{
    border-radius: 10px;
    color: #FF5722;
    border-color: cadetblue;
    text-decoration: solid;
}
.primarybutton{
    border-radius: 10px;
    text-align: center;
    background-color: #E18728;
    width: 60px;
}
.resetbutton{
    border-radius: 10px;
    text-align: center;
    background-color:lightblue;
    width: 60px;
}
.error{
    color: red;
}
